package ${package}.mapper;

import ${package}.entity.${className};
import tk.mybatis.mapper.common.Mapper;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@org.apache.ibatis.annotations.Mapper
public interface ${className}Mapper extends Mapper<${className}> {
	
}
